
img {
    width: 120px;
    height: 120px;
}

.cat {
    border: 5px solid #66ff00bb;
}

.horse {
    border: 5px solid #66ff00bb;
}

.camel {
    border: 5px solid #66ff00bb;
}


.animais {
    display: flex;
    height: 97vh;
    justify-content: space-around;
    align-items: flex-end;

}

.circle {
    border-radius: 50%;
}