
img {
    width: 120px;
    height: 120px;
}

.camel {
    border: 5px solid #66ff00bb; 
    align-self: flex-end;
}

.cat {
    border: 5px solid #66ff00bb;
}

.animais {
    display: flex;
    height: 97vh;
}

.circle {
    border-radius: 50%;
}