
img {
    width: 120px;
    height: 120px;
}

.cat {
    border: 5px solid #66ff00bb;
}


.animais {
    display: flex;
    height: 97vh;
    justify-content: center;
    align-items: center;

}

.circle {
    border-radius: 50%;
}